.vscode/**
.vscode-test/**
src/**
.gitignore
.eslintrc.json
.prettierrc.json
.prettierignore
**/*.map
**/*.ts
**/.DS_Store
**/tsconfig.json
**/Taskfile.yml
**/test/**
node_modules/**
examples/**
coverage/**
.github/**
*.vsix
package-lock.json